{% set tag_url = get_taxonomy_url(kind="tags", name="#100DaysToOffload", lang=page.lang) %}
<blockquote style="border-bottom: 0.25rem solid #e5e5e5; padding-bottom: 1.25rem">
  <h4>100 Days to Offload Challenge</h4>
  This is post {{ number }} as part of the <a href="https://100daystooffload.com">#100DaysToOffload</a> challenge.
  The point is to write 100 posts on a personal blog in a year. Quality isn't as important as quantity so some posts may be a little messy.
  <a href="{{ tag_url }}">Read other posts</a>&nbsp;in this challenge.
</blockquote>
<br />
