/* /\** Overwrite default to only be "light mode" theme from simple.css *\/ */
:root {
  --bg: #2e3440;
  --accent-bg: #3b4252;
  --text: #d8dee9;
  --text-light: #585858;
  --border: #D8DAE1;
  --accent: #88c0d0;
  --accent-light: #90CAF9;
  --code: #81a1c1;
  --preformatted: #444;
  --marked: #bf616a;
  --icon: #EBCB8B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2e3440;
    --accent-bg: #3b4252;
    --text: #d8dee9;
    --text-light: #585858;
    --border: #D8DAE1;
    --accent: #88c0d0;
    --accent-light: #90CAF9;
    --code: #81a1c1;
    --preformatted: #444;
    --marked: #bf616a;
    --icon: #EBCB8B;
  }
  img, video {
    opacity: .6;
  }
}
/** End Overwrite */

/** Global */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/** End Global */

header {
  border: none;
}

header > a.rss-icon {
  border: none;
  fill: var(--icon);
}

header > a.rss-icon:hover {
  fill: var(--text)
}

/** Posts */
main > section.taxonomies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main > hr {
  border: 1px solid var(--accent);
  margin-bottom: 3rem;
}

section.taxonomies {
  fill: var(--icon);
}

section.taxonomies > .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.taxonomies > .tags > svg {
  margin: 6px 6px 0px 0px;
}

section.taxonomies > .category {
  display: flex;
  flex-direction: row;
}
