{% extends "base.html" %}


{% block content %}
<section class="not-found">
  <pre>
   __ __  ____  __ __     ____                                  __     ____                      ____
  / // / / __ \/ // /    / __ \____ _____ ____     ____  ____  / /_   / __/___  __  ______  ____/ / /
 / // /_/ / / / // /_   / /_/ / __ `/ __ `/ _ \   / __ \/ __ \/ __/  / /_/ __ \/ / / / __ \/ __  / /
/__  __/ /_/ /__  __/  / ____/ /_/ / /_/ /  __/  / / / / /_/ / /_   / __/ /_/ / /_/ / / / / /_/ /_/
  /_/  \____/  /_/    /_/    \__,_/\__, /\___/  /_/ /_/\____/\__/  /_/  \____/\__,_/_/ /_/\__,_(_)
                                  /____/
  </pre>
  <a href="/about"><h3>How bout bout you read about me instead?</h3></a>
</section>
{% endblock %}
