{% extends "base.html" %}

{% block title %}
  {{ config.title }}
{% endblock  %}

{% block content %}
  {%- for page in paginator.pages -%}
    <h1>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h1>
    {%  if page.description -%}
      {{ page.description }}
    {%  endif -%}

    {% if page.description -%}
      <a href="{{ page.permalink }}">Read More</a>
    {% endif -%}
  {%- endfor -%}
   <nav>
     {% if paginator.previous %}
       <a href="{{ paginator.previous }}">< Previous</a>
     {% endif %}
     {% if paginator.next %}
       <a href="{{ paginator.next }}">Next ></a>
     {% endif %}
   </nav>
{% endblock %}
