{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block meta %}
<meta name="description" content="{{ page.description }}">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ page.permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ config.extra.logo_text }} - {{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ config.base_url }}">
<meta property="twitter:url" content="{{ page.permalink }}">
<meta name="twitter:title" content="{{ config.extra.logo_text }} - {{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="">
{% endblock%}

{% block content %}
<h1>
  <a href="{{ page.permalink  }}">{{ page.title }}</a>
</h1>
<section class="taxonomies">
  <h6>
    Category:
  {% for category in page.taxonomies['categories'] %}
    <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">
      {{ category | title }}
    </a>
  {% endfor %}
  </h6>
  <h6>
    <span>
      Tags:
      {% for tag in page.taxonomies['tags'] %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">
          {% if loop.index == page.taxonomies['tags'] | length - 1 %}
            {{ tag }},
          {% else %}
            {{ tag }}
          {% endif %}
        </a>
      {% endfor %}
    </span>
  </h6>
</section>
<hr>
<section>
  <article>
    {{ page.content | safe }}
  </article>
</section>
{% endblock %}
