{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block meta %}
<meta name="description" content="{{ page.description }}">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ page.permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ config.extra.logo_text }} - {{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ config.base_url }}">
<meta property="twitter:url" content="{{ page.permalink }}">
<meta name="twitter:title" content="{{ config.extra.logo_text }} - {{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="">
{% endblock%}

{% block content %}
<h2>
  <a href="{{ page.permalink  }}">{{ page.title }}</a>
</h2>
<div class="page-date">
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M17 1c0-.552-.447-1-1-1s-1 .448-1 1v2c0 .552.447 1 1 1s1-.448 1-1v-2zm-12 2c0 .552-.447 1-1 1s-1-.448-1-1v-2c0-.552.447-1 1-1s1 .448 1 1v2zm13 5v10h-16v-10h16zm2-6h-2v1c0 1.103-.897 2-2 2s-2-.897-2-2v-1h-8v1c0 1.103-.897 2-2 2s-2-.897-2-2v-1h-2v18h20v-18zm4 3v19h-22v-2h20v-17h2zm-17 7h-2v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2zm-8 4h-2v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2z"/></svg>
  <span>{{ page.date | date(format="%B %d, %Y") }}</span>
</div>
<section class="taxonomies">
  <div class="category">
    <h6>Category:&nbsp;</h6>
    {% for category in page.taxonomies['categories'] %}
      <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">
        <h6>
          {{ category | title }}
        </h6>
      </a>
    {% endfor %}
  </div>

  <div class="tags">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M10.773 21.585l-1.368 1.415-10.405-10.429v-8.571h2v7.719l9.773 9.866zm1.999-20.585h-9.772v9.772l12.074 12.228 9.926-9.85-12.228-12.15zm-4.772 7c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2z"/></svg>

    {% for tag in page.taxonomies['tags'] %}
    <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">
      <h6>
        {% if loop.index == page.taxonomies['tags'] | length %}
          {{ tag }}&nbsp;
        {% else %}
          {{ tag }},&nbsp;
        {% endif %}
      </h6>
    </a>
    {% endfor %}
  </div>
</section>
<hr>
<section>
  <article>
    {{ page.content | safe }}
  </article>
</section>
{% endblock %}
