{% extends "base.html" %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block content %}
<h1>
  <a href="{{ page.permalink  }}">{{ page.title }}</a>
</h1>
<section>
  <h6>
    Category:
  {% for category in page.taxonomies['categories'] %}
    <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">
      {{ category | title }}
    </a>
  {% endfor %}
  </h6>
  <h6>
    <span>
      Tags:
      {% for tag in page.taxonomies['tags'] %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">
          {% if loop.index == page.taxonomies['tags'] | length - 1 %}
            {{ tag }},
          {% else %}
            {{ tag }}
          {% endif %}
        </a>
      {% endfor %}
    </span>
  </h6>
</section>
<section>
  <article>
    {{ page.content | safe }}
  </article>
</section>
{% endblock %}
